* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
#container {
    padding: 0 5rem;
}
/*--------- header --------------
--------------------------------*/
div#user {
    background-color: #34b1da;
    text-align: right;
    padding-right: 1rem !important;
}

div#user {
    background-color: #34b1da;
    padding: 1rem 0;
}

div#user a {
    color: #fff;
    margin-right: 0.5rem;
}
#logo a {
    color: #2f2f2f;
    font-size: 2rem;
}
#cart span {
    color: #34b1da;
    font-size: 2.5rem;
}
#search input {
    padding: 0.25rem 0.75rem;
    border: 1px solid #e5e5e5;
    color: #2f2f2f;
    background-color: transparent;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
#search input:focus {
    outline: none;
}
#search button {
    color: #fff;
    border: none;
    background-color: #34b1da;
    padding: 0 1rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#search button:hover {
    background-color: #2f2f2f;
}

nav {
    background-color: #464646;
    padding: 0.5rem 4rem;
}
nav li {
    margin-right: 1rem;
}
nav a {
    color: #fff !important;
    transition: color 0.5s !important;
}
nav a:hover {
    color: #34b1da !important;
}
nav span {
    color: #34b1da;
}
header {
    margin-bottom: 0.5rem;
}
/*--------- end header ----------
--------------------------------*/
/*--------- banner -------------
--------------------------------*/
.swiper-slide img {
    width: 100%;
    height: auto;
}

#banner > .col-md-4 img {
    width: 100%;
    height: auto;
}
#banner .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}
#banner .swiper .swiper-wrapper {
    border: none !important;
}
/*--------- end banner ----------
--------------------------------*/
/*--------- products ------------
--------------------------------*/
main {
    padding: 0 4rem;
}
.product {
    border: 1px solid #f2f2f2;
    padding: 2rem 1.5rem !important;
}
.product > div {
    text-align: center;
}
.product .price {
    color: #34b1da;
    font-size: 1.5rem;
}
.product .name a {
    color: #2f2f2f;
    transition: color 0.5s;
}
.product .name a:hover {
    color: #34b1da;
}
.product .cart {
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    border-radius: 50%;
    background-color: #34b1da;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.product img {
    width: 100%;
    height: auto;
}
.products {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}
.product .cart:hover {
    background-color: #2f2f2f;
}

.box-heading {
    margin: 1rem 0;
    padding: 10px 22px;
    background: #f2f2f2;
}
.box-heading h3 {
    color: #2f2f2f;
    font-size: 24px;
    font-weight: normal;
}
/*--------- end products ----------
--------------------------------*/
/*--------- cart --------*/
#cart {
    position: relative;
}
#cart_quantity {
    background-color: #34b1da;
    display: inline-block;
    border-radius: 50%;
    height: 20px !important;
    width: 20px !important;
    font-size: 11px !important;
    font-style: normal;
    font-weight: bold;
    line-height: 20px !important;
    text-align: center;
    color: white !important;
}
#little_cart {
    position: absolute;
    background-color: #fff;
    z-index: 1;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 8px #888888;
    width: 250px;
    height: 125px;
    margin-top: 1rem;
}
#little_cart::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 70%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
#little_cart #message {
    color: rgb(104, 180, 104);
    font-weight: 500;
}
#little_cart a {
    color: #34b1da;
}
#little_cart a:hover {
    text-decoration: underline;
}
#product img {
    width: 100%;
    height: auto;
}
.error {
    color: red;
    display: block;
}
/*--------- cart --------*/
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #464646;
}
footer h3 {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
}
/*--------- search ----------*/
#search-result {
    position: absolute;
    top: 2.5rem;
    left: 3rem;
    width: 71%;
    z-index: 2;
}

.list-group-item {
    display: flex;
    align-items: flex-start;
}
.list-group-item img {
    width: 80px;
    height: auto;
    margin-right: 1rem;
}
/*--------- Latest smartphone ------------*/
.owl-carousel {
    position: relative;
}

.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    top: 35%;
}
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 0;
    top: 35%;
}
.owl-carousel .owl-nav button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #34b1da !important;
    height: 50px;
    margin: 0 !important;
}
.owl-carousel .owl-nav button span {
    font-size: 2.5rem !important;
    color: #fff;
}
